body{
	background: #FE7739;
	display : flex;
	flex-direction : column;
	row-gap: 50px;
}
h1{
	margin : auto;
	font: normal normal 400 16px fantasy;
	font-size : 40px;
}
.fields{
	height : 20px;
	width : 600px;
	display: flex;
	margin: auto;
	flex-direction: row;
	justify-content: space-evenly;
}
.field_props{
	font: normal normal 400 16px cursive;
	border : 2px solid black;
	height : 50px;
}
#task_field{
	width : 300px;
}
#categories{
	width : 150px;
}
#add_button{
	width : 100px;
	border-radius: 8px;
	cursor :  pointer;
	transition-duration: 0.5s ;
}
#add_button:hover {
	background-color: red;
}
.list{
	margin : auto;
	height : 300px;
	width : 500px;
	border : 2px solid black;
	display : flex;
	flex-direction : column;
	overflow-y : auto;
	overflow-x : hidden;
}
.list_element_incomplete{
	height:50px;
	width : inherit;
	color : blue;
	line-height: 50px;
	font-size : 50px;
	border : 2px solid blue;
	flex : 0 0 auto;

}
